/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.square-box{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #d3d3d3;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-box-free{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #bbd5bb;
}
.square-box-free:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
}
.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black
;
}
