<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row p-t-20 p-b-20">
        <div class="col-md-12">
            <h1>Dodaj nową trasę</h1>
        </div>
    </div>
    <div class="row bus-form-color">
        <div class="col-md-12">
            <form modelAttribute="route" th:action="@{/adminPage}" method="post" class="form-horizontal p-t-30">

                <fieldset class="p-r-20">
                    <div class="form-group col-md-3 m-l-10">
                        <label for="departure"> Miasto wyjazdu: </label> <input type="text" id="departure"
                                                                                name="departure"
                                                                                class="form-control"/>
                    </div>
                    <div class="form-group col-md-3 m-l-5">
                        <label for="destination"> Miasto docelowe: </label> <input type="text" id="destination"
                                                                                   name="destination"
                                                                                   class="form-control"/>
                    </div>
                    <div class="form-group col-md-3 m-l-5">
                        <label for="length"> Długośc trasy w km: </label> <input type="text" id="length" name="length"
                                                                                 class="form-control"/>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary button button-margin">
                            Dodaj trasę
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row p-t-20 p-b-20">
        <div class="col-md-12">
            <h1>Dodaj nowe połączenie</h1>
        </div>
    </div>
    <div class="row bus-form-color">
        <div class="col-md-12">
            <form modelAttribute="concrete_travel" th:action="@{/adminPageTravel}" method="post"
                  class="form-horizontal p-t-30">
                <fieldset class="p-r-20">
                    <div class="form-group col-md-3 m-l-10">
                        <label for="departure"> Miasto wyjazdu: </label>
                        <input type="text" id="dep" name="departure" class="form-control" list="citiesDep"/>
                        <datalist id="citiesDep" name="cities">
                            <option value="Białystok"></option>
                            <option value="Lublin"></option>
                            <option value="Wrocław"></option>
                            <option value="Warszawa"></option>
                        </datalist>
                    </div>
                    <div class="form-group col-md-3 m-l-5">
                        <label for="destination"> Miasto docelowe: </label>
                        <input type="text" id="dest" name="destination" class="form-control" list="citiesArr"/>
                        <datalist id="citiesArr" name="cities">
                            <option value="Białystok"></option>
                            <option value="Lublin"></option>
                            <option value="Wrocław"></option>
                            <option value="Warszawa"></option>
                        </datalist>
                    </div>
                    <div class="form-group col-md-3 m-l-5">
                        <label for="departure_time"> Data i godzina wyjazdu: </label>
                        <div class="input-group">
                            <input type="text" id="departure_time" name="departure_time" class="form-control"/>
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button button-margin"><i
                                            class="fa fa-calendar"
                                            aria-hidden="true"></i></button>
                        </span>
                        </div>

                    </div>
                    <div class="form-group col-md-3 m-l-5">
                        <label for="arrival_time"> Data i godzina przyjazdu: </label>
                        <div class="input-group">
                            <input type="text" id="arrival_time" name="arrival_time"
                                   class="form-control"/>
                            <span class="input-group-btn">

                                    <button class="btn btn-default" type="button button-margin"><i
                                            class="fa fa-calendar"
                                            aria-hidden="true"></i></button>
                                </span>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary button button-margin">
                            Dodaj połączenie
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table>
        <tbody>
        <tr th:each="result : ${departures}">

            <td th:text="${result.from}">from</td>

            <td th:text="${result.to}">to</td>

            <td th:text="${result.arrival}">arrival</td>

        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>