<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>AutoBus</title>
    <!-- jQuery -->
    <!--<script type="text/plain" src="../static/js/jquery.js"></script>-->

    <!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
    <!--<script type="text/plain" src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!-- Bootstrap Core CSS -->
    <!--&lt;!&ndash;<link  type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet"/>&ndash;&gt;-->
    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<link type="text/css" href="../static/css/modern-business.css" rel="stylesheet"/>-->

    <!--&lt;!&ndash; Custom Fonts &ndash;&gt;-->
    <!--<link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <!--<link  rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>-->

    <!--<link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>
    <link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/gif" href="http://localhost:8080/images/favicon.gif"/>
    <!--<link content-type="text/css" href="../static/css/modern-business.css" rel="stylesheet"/>-->
    <!--<script src="https://use.fontawesome.com/7902c030ba.js"></script>-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">AutoBus</a>
        </div>


    </div>

    <!-- /.container -->
</nav>

<div class="container">


    <div class="row" style="background-color: #b4c1c1;">

        <form modelAttribute="route" th:action="@{/adminPage}" method="post" class="form-horizontal" style="padding-top: 30px; ">

            <fieldset style="padding-right: 20px;">
                <div class="form-group col-md-3" >
                    <label for="departure"> Miasto wyjazdu: </label> <input type="text" id="departure" name="departure"
                                                                 class="form-control"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="destination"> Miasto docelowe: </label> <input type="text" id="destination" name="destination"
                                                                    class="form-control"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="length"> Długośc trasy w km: </label> <input type="text" id="length" name="length"
                                                               class="form-control"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="selected"> Trasa dwustronna: </label> <input type="radio" id="selected" name="selected" value="selected"
                                                                             class="form-control"/>
                </div>

            </fieldset>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"
                            style="background-color: #85adad;border-color: #85adad;">
                        Dodaj trasę
                    </button>
                </div>
            </div>

        </form>


    </div>



</div><!--/wrap-->

<footer class="footer">
    <div class="container">
        <p class="text-muted">AutoBus @ 2016</p>
    </div>
</footer>

<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script src="http://localhost:8080/js/jquery-3.1.1.min.js"></script>
<script src="http://localhost:8080/js/bootstrap.min.js"></script>



</body>
</html>