<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags"
      xmlns:fmt="http://jboss.org/xml/ns/javax/validation/mapping">
<setBundle basename="messages" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>Expired</title>
</head>
<body>

<h1>${message}</h1>
<a href="/register">

<fmt:message code="label.form.loginSignUp"></fmt:message>
</a>
    

</body>
</html>