<!DOCTYPE html>
<html lang="en">
<head>
    <title>AutoBus</title>
    <!--<link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>
    <link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://localhost:8080/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AutoBus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}" >
                    <a href="userPage">Moje konto</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}" >
                    <a href="/logout">Wyloguj</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
                    <a href="#" data-toggle="modal" data-target="#contact-modal">Kontakt</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" >
                    <a href="adminPage">Administracja</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" >
                    <a href="/logout" >Wyloguj</a>
                </li>

                <li th:if="${#httpServletRequest.remoteUser}==null">
                    <a href="login">Zaloguj</a>

                </li>
                <li th:if="${#httpServletRequest.remoteUser}==null">
                    <a href="#" data-toggle="modal" data-target="#contact-modal">Kontakt</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>



<div class="container">
    <div class="row" style="    padding-top: 20px;">
        <div class="card" style="background-color:#F7F7F7;padding:10px;width:%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;">
        <h3>
            Wynik dla tarsy: <b>Białystok - Warszawa</b>
        </h3>
        <h4>
            Odjazd: <b>6:30 - 23.01.2017</b>   Przyjazd: <b>9:20 - 23.01.2017</b>
        </h4>
        </div>
    </div>

    <div class="row" >
        <h1>Wybierz miejsce</h1>
    </div>
    <legend></legend>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-10">
            <img id="plan" src="http://localhost:8080/images/schemat.jpg" alt="" usemap="#Map" class="map"/>
            <map name="Map" id="Map">
                <!--<area shape="rect" alt="" title="" id="1" coords="730,289,790,349" href="" target=""/>-->
                <!--<area shape="rect" alt="" title="" id="2" coords="730,219,790,279" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="3" coords="750,79,810,140" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="4" coords="750,10,810,70" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="5" coords="660,289,720,349" href="" target="" />-->
                <area shape="rect" alt="" title="" id="6" coords="660,219,719,279" href="" target=""/>
                <area shape="rect" alt="" title="" id="7" coords="681,80,739,140" href="" target=""/>
                <area shape="rect" alt="" title="" id="8" coords="680,9,740,69" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="9" coords="590,289,649,349" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="10" coords="590,219,649,279" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="11" coords="610,80,670,139" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="12" coords="610,9,670,69" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="13" coords="520,289,579,349" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="14" coords="520,219,579,279" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="15" coords="540,80,600,139" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="16" coords="540,9,599,70" href="" target="" />-->
                <area shape="rect" alt="" title="" id="17" coords="450,289,510,349" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="18" coords="450,219,510,280" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="19" coords="470,79,529,140" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="20" coords="470,9,529,70" href="" target="" />-->
                <area shape="rect" alt="" title="" id="21" coords="380,289,440,349" href="" target=""/>
                <area shape="rect" alt="" title="" id="22" coords="380,219,439,279" href="" target=""/>
                <area shape="rect" alt="" title="" id="23" coords="400,79,460,139" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="24" coords="399,10,459,69" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="25" coords="330,80,389,139" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="26" coords="331,10,389,69" href="" target="" />-->
                <area shape="rect" alt="" title="" id="27" coords="260,288,320,349" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="28" coords="260,219,320,279" href="" target="" />-->
                <area shape="rect" alt="" title="" id="29" coords="260,80,319,139" href="" target=""/>
                <area shape="rect" alt="" title="" id="30" coords="260,9,319,71" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="31" coords="191,289,249,349" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="32" coords="190,219,249,278" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="33" coords="190,78,249,139" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="34" coords="191,9,249,70" href="" target="" />-->
                <area shape="rect" alt="" title="" id="35" coords="120,289,180,349" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="36" coords="120,219,180,279" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="37" coords="120,79,180,140" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="38" coords="120,10,179,70" href="" target="" />-->
                <area shape="rect" alt="" title="" id="39" coords="50,289,110,349" href="" target=""/>
                <area shape="rect" alt="" title="" id="40" coords="49,219,110,280" href="" target=""/>
                <!--<area shape="rect" alt="" title="" id="41" coords="50,149,109,210" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="42" coords="50,80,109,140" href="" target="" />-->
                <!--<area shape="rect" alt="" title="" id="43" coords="49,9,110,70" href="" target="" />-->
            </map>
        </div>
        <div class="col-md-2">
            <div class='square-box-free'>
                <div class='square-content'>
                    <div><span>Miejsce wolne</span></div>
                </div>
            </div>
            <div class='square-box' style="margin-top:10px">
                <div class='square-content'>
                    <div><span>Miejsce zajęte</span></div>
                </div>
            </div>
        </div>
    </div>
    <legend></legend>
    <div class="row">
        <form modelAttribute="ticket" th:action="@{/success}" method="post" class="form-horizontal">
            <h4>Wybrane miejsce:</h4>
            <span id="chosen_placeholder"></span>
            <h4>Cena: <b>16 zł</b></h4>
            <fieldset style="padding-right: 20px;">
                <div class="form-group col-md-6" style="margin-right:10px;">
                    <label for="email"> Twój e-mail: </label> <input type="text" id="email" name="email"
                                                                     class="form-control"/>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"
                            style="background-color: #85adad;border-color: #85adad;">
                        Kup bilet
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">AutoBus @ 2017</p>
    </div>
</footer>

<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script src="http://localhost:8080/js/jquery-3.1.1.min.js"></script>
<script src="http://localhost:8080/js/bootstrap.min.js"></script>
<script src="http://localhost:8080/js/jquery.maphilights.js"></script>

<script type="text/javascript">
    $(function () {
        $('.map').maphilight();
    });
    $.fn.maphilight.defaults = {
        fill: true,
        fillColor: '5ada5a',
        fillOpacity: 0.2,
        stroke: false,
        strokeColor: 'ff0000',
        strokeOpacity: 1,
        strokeWidth: 1,
        fade: true,
        alwaysOn: true,
        neverOn: false,
        groupBy: false,
        wrapClass: true,
        shadow: false,
        shadowX: 0,
        shadowY: 0,
        shadowRadius: 6,
        shadowColor: '000000',
        shadowOpacity: 0.8,
        shadowPosition: 'outside',
        shadowFrom: false
    }

    $(document).ready(function () {
        $('area').click(function (e) {
            e.preventDefault();

            var data = $(this).data('maphilight') || {};
            data.fillColor = 'FFFF00'; // Sample color

            $(this).data('maphilight', data).trigger('alwaysOn.maphilight');

            $('#chosen_placeholder').text($('#chosen_placeholder').text() + ' ' + $(this).attr("id"));

        });
    });
</script>

</body>
</html>