<!DOCTYPE html>
<html lang="en">
<head>
    <title>AutoBus</title>
    <!--<link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <link  rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css"/>
    <link  rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>
    <link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">AutoBus</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right" >


                <li>
                    <a href="#" data-toggle="modal" data-target="#login-modal">Zaloguj</a>

                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#contact-modal">Kontakt</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>

<div class="container">
    <div class="row" style="padding-top: 20px;">
        <h1>Wybierz miejsce</h1>
    </div>
    <legend></legend>
    <div class="row">
        <img id="plan" src="http://localhost:8080/images/plan.png" alt="" usemap="#Map" class="map"/>
        <map name="Map" id="Map">
            <!--<area alt="" title="" href="#" name="m1" shape="poly" coords="913,82,956,84,955,125,915,125" />-->
            <area alt="" title="" href="#" name="m2" shape="poly" coords="915,133,954,134,955,175,918,174"  />
            <!--<area alt="" title="" href="#" name="m3" shape="poly" coords="915,227,957,228,957,270,915,271" />-->
            <!--<area alt="" title="" href="#" name="m4" shape="poly" coords="915,275,953,277,956,317,918,318" />-->
            <!--<area alt="" title="" href="#" name="m5" shape="poly" coords="896,86,897,126,858,125,856,83" />-->
            <!--<area alt="" title="" href="#" name="m6" shape="poly" coords="862,131,894,132,896,172,859,174" />-->
            <!--<area alt="" title="" href="#" name="m7" shape="poly" coords="858,230,894,230,897,270,858,271" />-->
            <!--<area alt="" title="" href="#" name="m8" shape="poly" coords="857,279,893,278,896,319,858,318" />-->
            <!--<area alt="" title="" href="#" name="m9" shape="poly" coords="795,84,836,85,835,124,797,126" />-->
            <!--<area alt="" title="" href="#" name="m10" shape="poly" coords="799,133,832,132,838,174,799,171" />-->
            <area alt="" title="" href="#" name="m11" shape="poly" coords="798,230,835,229,837,270,801,272" />
            <area alt="" title="" href="#" name="m12" shape="poly" coords="800,276,834,279,836,318,800,319" />
            <!--<area alt="" title="" href="#" name="m13" shape="poly" coords="735,84,776,85,774,126,738,127" />-->
            <!--<area alt="" title="" href="#" name="m14" shape="poly" coords="736,132,773,134,775,172,739,171" />-->
            <area alt="" title="" href="#" name="m15" shape="poly" coords="734,228,775,229,775,270,739,269" />
            <!--<area alt="" title="" href="#" name="m16" shape="poly" coords="737,279,773,279,774,317,738,316" />-->
            <!--&lt;!&ndash;<area alt="" title="" href="#" name="m17" shape="poly" coords="682,83,713,86,714,124,679,123" />&ndash;&gt;-->
            <!--<area alt="" title="" href="#" name="m18" shape="poly" coords="682,135,712,134,715,170,683,170" />-->
            <!--<area alt="" title="" href="#" name="m19" shape="poly" coords="681,231,713,231,714,269,680,271" />-->
            <area alt="" title="" href="#" name="m20" shape="poly" coords="680,282,714,280,712,315,680,316" />
            <!--<area alt="" title="" href="#" name="m21" shape="poly" coords="620,84,653,84,656,124,619,126" />-->
            <!--<area alt="" title="" href="#" name="m22" shape="poly" coords="617,133,656,133,654,172,617,170" />-->
            <!--<area alt="" title="" href="#" name="m23" shape="poly" coords="618,232,654,231,656,269,618,267" />-->
            <!--<area alt="" title="" href="#" name="m24" shape="poly" coords="619,282,652,280,654,318,620,317" />-->
            <!--<area alt="" title="" href="#" name="m25" shape="poly" coords="556,86,594,86,596,122,553,122" />-->
            <!--<area alt="" title="" href="#" name="m26" shape="poly" coords="559,135,594,137,596,170,557,169" />-->
            <area alt="" title="" href="#" name="m27" shape="poly" coords="498,87,534,83,536,121,497,123" />
            <area alt="" title="" href="#" name="m28" shape="poly" coords="497,134,535,133,536,170,496,171" />
            <!--<area alt="" title="" href="#" name="m29" shape="poly" coords="438,85,476,85,476,123,436,124" />-->
            <area alt="" title="" href="#" name="m30" shape="poly" coords="437,132,474,132,475,171,434,169" />
            <!--<area alt="" title="" href="#" name="m31" shape="poly" coords="438,232,438,268,475,268,473,230" />-->
            <!--<area alt="" title="" href="#" name="m32" shape="poly" coords="438,280,472,281,476,315,437,316" />-->
            <!--<area alt="" title="" href="#" name="m33" shape="poly" coords="415,126,376,124,375,88,415,88" />-->
            <!--<area alt="" title="" href="#" name="m34" shape="poly" coords="378,136,413,135,416,173,378,172" />-->
            <area alt="" title="" href="#" name="m35" shape="poly" coords="377,233,415,234,417,267,379,269" />
            <!--<area alt="" title="" href="#" name="m36" shape="poly" coords="381,280,413,279,418,316,380,315" />-->
            <!--<area alt="" title="" href="#" name="m37" shape="poly" coords="319,88,354,86,355,122,321,122" />-->
            <area alt="" title="" href="#" name="m38" shape="poly" coords="317,136,357,134,356,169,317,170" />
            <!--<area alt="" title="" href="#" name="m39" shape="poly" coords="316,234,356,230,358,268,322,267" />-->
            <!--<area alt="" title="" href="#" name="m40" shape="poly" coords="317,278,353,279,359,314,317,316" />-->
            <!--<area alt="" title="" href="#" name="m41" shape="poly" coords="255,86,295,87,295,122,255,123" />-->
            <!--<area alt="" title="" href="#" name="m42" shape="poly" coords="259,135,295,133,296,172,256,172" />-->
            <!--<area alt="" title="" href="#" name="m43" shape="poly" coords="258,232,293,229,297,264,258,267" />-->
            <!--<area alt="" title="" href="#" name="m44" shape="poly" coords="261,282,295,281,293,314,259,315" />-->
            <!--<area alt="" title="" href="#" name="m45" shape="poly" coords="196,85,235,84,235,119,197,123" />-->
            <!--<area alt="" title="" href="#" name="m46" shape="poly" coords="203,136,239,138,236,168,200,170" />-->
            <!--<area alt="" title="" href="#" name="m47" shape="poly" coords="196,233,237,234,236,269,199,267" />-->
            <!--<area alt="" title="" href="#" name="m48" shape="poly" coords="198,282,234,281,236,317,200,313" />-->
            <!--<area alt="" title="" href="#" name="m49" shape="poly" coords="135,87,177,86,177,120,139,121" />-->
            <!--<area alt="" title="" href="#" name="m50" shape="poly" coords="137,137,139,169,176,172,175,132" />-->
            <!--<area alt="" title="" href="#" name="m51" shape="poly" coords="138,233,176,232,177,268,139,269"  />-->
            <area alt="" title="" href="#" name="m52" shape="poly" coords="138,281,176,281,178,316,136,318" />
            <area alt="" title="" href="#" name="m53" shape="poly" coords="78,85,114,87,117,125,78,121" />
            <area alt="" title="" href="#" name="m54" shape="poly" coords="80,136,115,135,115,171,80,170" />
            <!--<area alt="" title="" href="#" name="m55" shape="poly" coords="80,184,115,186,115,218,79,220" />-->
            <!--<area alt="" title="" href="#" name="m56" shape="poly" coords="79,231,115,231,119,268,81,267" />-->
            <!--<area alt="" title="" href="#" name="m57" shape="poly" coords="78,279,118,280,115,318,81,316" />-->
        </map>

    </div>
    <div class="row">

    </div>
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">AutoBus @ 2016</p>
    </div>
</footer>

<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script src="http://localhost:8080/js/jquery-3.1.1.min.js"></script>
<script src="http://localhost:8080/js/bootstrap.min.js"></script>
<script src="http://localhost:8080/js/jquery.maphilights.js"></script>

<script type="text/javascript">
    $(function () {
        $('.map').maphilight();
    });
    $.fn.maphilight.defaults = {
        fill: true,
        fillColor: '5ada5a',
        fillOpacity: 0.2,
        stroke: false,
        strokeColor: 'ff0000',
        strokeOpacity: 1,
        strokeWidth: 1,
        fade: true,
        alwaysOn: true,
        neverOn: false,
        groupBy: false,
        wrapClass: true,
        shadow: false,
        shadowX: 0,
        shadowY: 0,
        shadowRadius: 6,
        shadowColor: '000000',
        shadowOpacity: 0.8,
        shadowPosition: 'outside',
        shadowFrom: false
    }
</script>

</body>
</html>