<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">
<head>

    <title>AutoBus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>
    <link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">

        <div class="modal-dialog">
            <div class="loginmodal-container">


                <div class="row" style="text-align: center;">

                    <a href="/"><img src="/images/logo1.png"
                         style="width: 50%;padding-top: 10px;padding-bottom: 15px;"/></a>
                </div>


                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username"> e-mail: </label> <input type="text" id="username" name="username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password"> hasło: </label> <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                    <div class="form-group"><input type="submit" name="login" class="login loginmodal-submit" value="Zaloguj" style="background-color: #85adad;border-color: #85adad;"/></div>
                </form>

                <div class="login-help">
                    <a style="color:grey">Nie masz konta?</a><br/> <a href="register" style="color:dimgray">Zarejestruj się</a>
                </div>
            </div>
        </div>

</div>

<footer class="footer">
    <div class="container" style="text-align: center;">
        <p class="text-muted">AutoBus @ 2017</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>