<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">
<head>
    <title>AutoBus</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/modern-business.css"/>
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<div class="container">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <div class="row t-a-c">
                <div class="col-md-12">
                    <a href="/"><img src="/images/logo1.png" class="logo"/></a>
                </div>
            </div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username"> e-mail: </label> <input type="text" id="username" name="username"
                                                                   class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password"> hasło: </label> <input type="password" id="password" name="password"
                                                                  class="form-control"/>
                </div>
                <div class="form-group"><input type="submit" name="login" class="login loginmodal-submit button"
                                               value="Zaloguj"/></div>
            </form>

            <div class="login-help">
                <a class="color-one">Nie masz konta?</a><br/> <a href="register" class="login-help color-two">Zarejestruj
                się</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container footer-prop">
        <p class="text-muted">AutoBus @ 2017</p>
    </div>
</footer>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>