<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row p-t-20 p-b-20">
        <div class="col-md-12">
            <h4>
                Brak wyników dla podanych wartości
            </h4>
        </div>
    </div>

</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">AutoBus @ 2017</p>
    </div>
</footer>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>