<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping" xmlns:form="http://www.w3.org/1999/xhtml">
<head>

    <title>AutoBus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://localhost:8080/css/modern-business.css"/>
    <link href="http://localhost:8080/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <form role="form" method="POST" action="#">

                <div class="row" style="text-align: center; pa">
                    <a href="home"> <img src="http://localhost:8080/images/logo1.png"
                                         style="width: 50%;padding-bottom: 30px;"/></a>
                </div>

                <fieldset>
                    <legend></legend>

                    <form class="form-horizontal" style="padding-top: 30px;">
                        <div class="form-group col-md-6">
                            <label for="username">Imię</label>
                            <input type="text" class="form-control" name="" id="username" placeholder="Imię"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="surname">Nazwisko</label>
                            <input type="text" class="form-control" name="" id="surname" placeholder="Nazwisko"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="" id="email" placeholder="Email"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Telefon</label>
                            <input type="text" class="form-control" name="" id="phone" placeholder="Telefon"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password">Hasło</label>
                            <input type="password" class="form-control" name="" id="password" placeholder="Hasło"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirm_password">Powtórz hasło</label>
                            <input type="password" class="form-control" name="" id="confirm_password"
                                   placeholder="Hasło"/>
                        </div>
                    </form>

                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id=""/>
                                Akceptuję <a href="#">regulamin</a>.
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"
                                style="background-color: #85adad;border-color: #85adad;">
                            Zarejestruj
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<footer class="footer">
    <div class="container" style="text-align: center;">
        <p class="text-muted">AutoBus @ 2016</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>