<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row p-t-20 p-b-20">
        <div class="col-md-12">
            <h1>
                Wynik dla tarsy: <b>Białystok - Warszawa</b>
            </h1>
        </div>
    </div>
    <div class="row t-a-c">
        <div class="col-md-8">
            <table class="table table-hover table-color">
                <thead>
                <tr class="table-text-color">
                    <th>Odjazd</th>
                    <th>Przyjazd</th>
                    <th>Czas podróży</th>
                    <th>Wolne miejsca</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr class="t-d-n">
                    <td><a href="bus"><b>6:30</b> - 23.01.2017</a></td>
                    <td><a href="bus"><b>9:20</b> - 23.10.2017</a></td>
                    <td><a href="bus">2h 50min</a></td>
                    <td><a href="bus">13</a></td>
                    <td><a href="bus"><b>16,00</b></a></td>
                </tr>
                <tr>
                    <td><a href="adminPage"><b>9:10</b> - 23.01.2017</a></td>
                    <td><a href="adminPage"><b>12:30</b> - 23.01.2017</a></td>
                    <td><a href="adminPage">3h 20min</a></td>
                    <td><a href="adminPage">41</a></td>
                    <td><a href="adminPage"><b>8,00</b></a></td>
                </tr>
                <tr>
                    <td><b>12:30</b> - 23.01.2017</td>
                    <td><b>15:45</b> - 23.01.2017</td>
                    <td>3h 15min</td>
                    <td>26</td>
                    <td><b>10,00</b></td>
                </tr>
                <tr>
                    <td><b>15:15</b> - 23.01.2017</td>
                    <td><b>18:20</b> - 23.01.2017</td>
                    <td>3h 5min</td>
                    <td>15</td>
                    <td><b>14,00</b></td>
                </tr>
                <tr>
                    <td><b>18:30</b> - 23.01.2017</td>
                    <td><b>21:45</b> - 23.01.2017</td>
                    <td>3h 15min</td>
                    <td>19</td>
                    <td><b>11,00</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>