<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">
<head>
    <title>AutoBus</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/modern-business.css"/>
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <a href="home"> <img src="../images/logo1.png" class="logo-success"/></a>

                <h3>Dokonałeś zakupu biletu na przejazd trasą <b>Białystok-Warszawa</b></h3>
                <h4>Do zapłaty: <b>16 zł</b></h4>

                <h4>Prosimy o przesłanie należnej kwoty na konto: <b>00 0000 0000 0000 0000 0000 0000</b></h4>
                <h4>
                Bilet zostanie wysłany na podany adres e-mail. Przy wsiadaniu do autobusu należy podać numer biletu
                otrzymany w mailu.
                </h4>
                <form action="/">
                    <button type="submit" class="btn btn-primary button button-margin">
                        Powrót do serwisu
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<footer class="footer">
    <div class="container m-t-40 t-a-c">
        <p class="text-muted">AutoBus @ 2017</p>
    </div>
</footer>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>