<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.springframework.org/tags/form" xmlns:spring="http://www.springframework.org/tags">
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">

                <a href="/"> <img src="../images/logo1.png" class="logo-success-register"/></a>
                <h4 class="success-text-color">Link aktywujący Twoje konto został wysłany na podany adres E-mail.
                    Kliknij w niego, aby dokończyć proces rejestracji i móc zalogować się do serwisu.
                    Email może znajdować się w folderze SPAM - nie zapomnij go sprawdzić!</h4>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>